{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Product -->
{{ with .Site.Data.product.product }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="title">{{ .title | markdownify }}</h2>
        <p>{{ .productionDescription | markdownify }}</p>
        <p>
          <a href="{{ .cta1URL | absURL }}" class="btn btn-outline-tertiary btn-sm ml-lg-4">{{ .cta1Label }}</a>
          <a href="{{ .cta2URL | absURL }}" class="btn btn-outline-tertiary btn-sm ml-lg-4">{{ .cta2Label }}</a>
        </p>
      </div>
      {{ range .featureItem }}
      <!-- service item -->
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-center">
          <div class="card-body p-lg-5 px-3 py-4">
            <i class="icon {{ .icon }} bg-{{.iconColor}} mb-4"></i>
            <h4 class="card-title mb-3">{{ .title | markdownify }}</h4>
            <p class="card-text">{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /service -->

{{ end }}